<div>
  <button nz-button nzType="primary" (click)="nuevaCiudad()">
    <i nz-icon nzType="plus"></i>
    Agregar
  </button>
  <app-form-ciudad (saved)="cargarCiudades()" [(formVisible)]="formCiudadVisible" [ciudadEdit]="ciudadEdit"></app-form-ciudad>
</div>
<div style="margin-top: 10px">
  <nz-table #tabla
  nzFrontPagination="false"
  [nzData]="ciudades"
  [nzLoading]="tableLoading"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  [nzTotal]="totalCiudades"
  (nzPageIndexChange)="cargarCiudades()"
  (nzPageSizeChange)="cargarCiudades()"
  nzShowSizeChanger >
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Departamento</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ciudad of tabla.data">
        <td>{{ ciudad.idciudad }}</td>
        <td>{{ ciudad.nombre }}</td>
        <td>{{ ciudad.departamento }}</td>
        <td>
            <button nz-button nzType="primary" nzGhost (click)="editarCiudad(ciudad)">
                <i nz-icon nzType="edit"></i>
              </button>
              <button style="margin-left: 5px" nz-button nzType="danger" (click)="confirmarEliminacion(ciudad)" nzGhost>
                <i nz-icon nzType="delete"></i>
              </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
