<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label nzSpan="4" nzRequired>Código</nz-form-label>
    <nz-form-control nzSpan="19" nzErrorTip="Ingrese un código.">
      <nz-input-number [nzDisabled]="modoModificar" formControlName="id" nzPlaceHolder="ID" nzMin="0"></nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="4" nzRequired>Nombre</nz-form-label>
    <nz-form-control nzSpan="19" nzErrorTip="Ingrese un nombre. Longitud máx 45 carácteres.">
      <input formControlName="nombre" nz-input placeholder="Ej.: Administrador" />
    </nz-form-control>
  </nz-form-item>
</form>
<nz-alert *ngIf="msgVisible" [nzType]="msgType" [nzMessage]="msg" [nzDescription]="msgDescription" (nzOnClose)="handleAlertClose()" nzShowIcon nzCloseable></nz-alert>
