<nz-modal [nzWidth]="550" [(nzVisible)]="formVisible" [nzTitle]="titulo" [nzFooter]="pie" nzWrapClassName="vertical-center-modal"
  (nzOnCancel)="cerrarForm()" (nzAfterOpen)="cargarDepartamentos()">
  <ng-template #titulo>
    <span style="font-weight: bold;">{{ tituloForm }}</span>
  </ng-template>

  <form [formGroup]="form" nz-form>
    <nz-form-item>
      <nz-form-label [nzSm]="6" nzFor="idciudad" nzRequired >Código</nz-form-label>
      <nz-form-control [nzSm]="17" nzErrorTip="Campo requerido. Ingrese un valor entre 1 y 9999">
        <nz-input-number [nzDisabled]="modoEditar" name="idciudad" nzPlaceHolder="ID" nzMin="1" nzMax="9999" formControlName="idciudad"></nz-input-number>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" nzFor="nombre" nzRequired>Nombre</nz-form-label>
      <nz-form-control [nzSm]="17" nzErrorTip="Campo requerido. Longitud máxima 45">
        <input nz-input name="nombre" type="text" placeholder="Nombre" formControlName="nombre" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="iddepartamento" nzRequired>Departamento</nz-form-label>
        <nz-form-control [nzSm]="17" nzErrorTip="Campo requerido. Seleccione un departamento">
          <nz-select name="iddepartamento" nzPlaceHolder="Seleccionar..." formControlName="iddepartamento" nzAllowClear>
            <nz-option *ngFor="let departamento of departamentos" [nzLabel]="departamento.nombre" [nzValue]="departamento.iddepartamento" ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
  </form>

  <nz-alert (nzOnClose)="onCloseMsg()" *ngIf="msgVisible" [nzType]="tipoMsg" [nzMessage]="msg" [nzDescription]="msgDescripcion" nzCloseable="true" nzShowIcon></nz-alert>

  <ng-template #pie>
    <button nz-button nzType="default" (click)="cerrarForm()">Cerrar</button>
    <button nz-button nzType="primary" (click)="guardar()">
        <i nz-icon nzType="save"></i>
        Guardar
      </button>
  </ng-template>
</nz-modal>
